n8n-workflow-supply-lookup.json
{
  "name": "Nurse Context Engine \u2014 Supply Lookup",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "supply-lookup",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "c5dacb91-5d54-4429-924b-96a26c56b168",
      "name": "S1 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "7fd38417-12af-473d-97fa-a844f87a4a76"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.stringify({ patient_id: $json.body.patient_id, procedure: $json.body.procedure, unit_type: $json.body.unit_type || 'general' }) }}",
        "options": {}
      },
      "id": "f932ba6a-5987-4cee-88d8-f989ba6dd4fc",
      "name": "S2 Parse Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/patients?id=eq.{{ $json.patient_id }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "caeb2828-7b71-4e33-91cd-a4d34a562921",
      "name": "S3 Fetch Patient",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/notes?patient_id=eq.{{ $('S2 Parse Input').item.json.patient_id }}&select=structured_note,created_at&order=created_at.desc&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d3ae5614-6de1-4000-88d0-e364b91f59f7",
      "name": "S3b Fetch Prior Notes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        480
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ (() => { const notes = $('S3b Fetch Prior Notes').all(); const now = new Date(); let prior_notes_context = 'No prior notes available.'; if (notes && notes.length > 0) { prior_notes_context = 'Prior clinical context (last ' + notes.length + ' notes, most recent first):\\n\\n' + notes.map((n, i) => { let parsed; try { parsed = typeof n.json.structured_note === 'string' ? JSON.parse(n.json.structured_note) : n.json.structured_note; } catch (e) { return '[' + (i + 1) + '] Unable to parse note'; } const created = new Date(n.json.created_at); const hoursAgo = Math.round((now - created) / 3600000); const ageLabel = hoursAgo < 24 ? hoursAgo + ' hours ago' : Math.round(hoursAgo / 24) + ' days ago'; return '[' + (i + 1) + '] ' + ageLabel + ':\\n  Assessment: ' + (parsed.assessment || 'N/A') + '\\n  Plan: ' + (parsed.plan || 'N/A'); }).join('\\n\\n'); } return JSON.stringify({ prior_notes_context: prior_notes_context }); })() }}",
        "options": {}
      },
      "id": "c2c1d9a5-1224-46f1-84cd-7269869d5595",
      "name": "S3c Parse Prior Notes",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        910,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $vars.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 1024, messages: [{ role: 'user', content: 'You are a clinical supply coordinator helping nurses prepare for procedures efficiently.\\n\\nGiven the procedure(s) about to be performed and the patient\\'s current context, generate a precise supply checklist. Include only what is needed \u2014 do not pad the list. Return valid JSON only. No markdown code fences. No preamble.\\n\\nPatient context: ' + JSON.stringify($('S3 Fetch Patient').item.json[0] || $('S3 Fetch Patient').item.json) + '\\nProcedures: [\"' + $('S2 Parse Input').item.json.procedure + '\"]\\nUnit type: ' + $('S2 Parse Input').item.json.unit_type + '\\n\\nPrior clinical context:\\n' + $('S3c Parse Prior Notes').item.json.prior_notes_context + '\\n\\nUse the prior clinical context to inform supply selection. If prior notes indicate specific conditions or complications, adjust supplies accordingly.\\n\\nInclude a rationale explaining why these specific supplies are recommended given the procedure and patient context.\\n\\nReturn valid JSON only.\\n\\n{\\n  \"procedure\": \"\",\\n  \"rationale\": \"\",\\n  \"items\": [\\n    { \"item\": \"\", \"quantity\": 0, \"unit\": \"\", \"notes\": \"\" }\\n  ]\\n}' }] }) }}",
        "options": {}
      },
      "id": "3b07fb38-7dfa-4581-b682-c2a47dbbb57b",
      "name": "S4 Claude Supply List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/supply_requests",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { let text = $json.content[0].text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim(); const supply = JSON.parse(text); return JSON.stringify({ patient_id: $('S2 Parse Input').item.json.patient_id, procedure: supply.procedure, items: supply.items, rationale: supply.rationale || null }); })() }}",
        "options": {}
      },
      "id": "f6d4189d-f6fa-4162-b2d1-244ca520b54e",
      "name": "S5 Save Supply Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1350,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ (() => { let text = $('S4 Claude Supply List').item.json.content[0].text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim(); const supply = JSON.parse(text); return JSON.stringify({ success: true, supply_list: { procedure: supply.procedure, rationale: supply.rationale || null, items: supply.items } }); })() }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "2c4065c8-d3da-4d18-80d7-fd81163fc27e",
      "name": "S6 Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1570,
        300
      ]
    }
  ],
  "connections": {
    "S1 Webhook": {
      "main": [
        [
          {
            "node": "S2 Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S2 Parse Input": {
      "main": [
        [
          {
            "node": "S3 Fetch Patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 Fetch Patient": {
      "main": [
        [
          {
            "node": "S3b Fetch Prior Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3b Fetch Prior Notes": {
      "main": [
        [
          {
            "node": "S3c Parse Prior Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3c Parse Prior Notes": {
      "main": [
        [
          {
            "node": "S4 Claude Supply List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S4 Claude Supply List": {
      "main": [
        [
          {
            "node": "S5 Save Supply Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S5 Save Supply Request": {
      "main": [
        [
          {
            "node": "S6 Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}